source_up

# NOTE: yamale is required to use `just lint` command, which is a python
# application.
layout python3

# NOTE: in order to make this repository "self-contained" and in order to
# avoid any modification outside this folder, we configure `kubectl` and
# `helm` to use `e2e` folder to store configuration & data
export HELM_CONFIG_HOME=$PWD/test/e2e/~helm
export KUBECONFIG=$PWD/.direnv/kubeconfig
