# Created by https://www.toptal.com/developers/gitignore/api/helm,direnv
# Edit at https://www.toptal.com/developers/gitignore?templates=helm,direnv

### direnv ###
.direnv
.envrc

### Helm ###
# Chart dependencies
**/charts/*.tgz

# End of https://www.toptal.com/developers/gitignore/api/helm,direnv

### DSL2JSONSCHEMA
tools/dsl2jsonschema/dsl2jsonschema
