{{- range $issuer := .Values.issuers }}
{{- with $issuer.credentials }}
{{ $_ := set $issuer "namespace" ($issuer.namespace | default $.Release.Namespace) }}
{{ $param := dict "issuer" $issuer "root" $ }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "issuer.crendentials.name" $param }}
  namespace: {{ include "issuer.crendentials.namespace" $param }}
  labels:
    {{- include "common.labels.standard" $ | nindent 4 }}
    {{- with $.Values.global.commonLabels }}{{ toYaml . | nindent 4 }}{{ end }}
    {{- if $issuer.metadata }}{{- with $issuer.metadata.labels }}{{ toYaml . | nindent 4 }}{{ end }}{{ end }}
    issuer.cert-manager.io/name: {{ $issuer.name }}
type: Opaque
stringData: {{ toYaml . | nindent 2 }}
{{- end }}
{{- end }}
{{- range $issuer := .Values.clusterIssuers }}
{{- with $issuer.credentials }}
{{ $_ := unset $issuer "namespace" }}
{{ $param := dict "issuer" $issuer "root" $ }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "issuer.crendentials.name" $param }}
  namespace: {{ include "issuer.crendentials.namespace" $param }}
  labels:
    {{- include "common.labels.standard" $ | nindent 4 }}
    {{- with $.Values.global.commonLabels }}{{ toYaml . | nindent 4 }}{{ end }}
    {{- if $issuer.metadata }}{{- with $issuer.metadata.labels }}{{ toYaml . | nindent 4 }}{{ end }}{{ end }}
    issuer.cert-manager.io/name: {{ $issuer.name }}
type: Opaque
stringData: {{ toYaml . | nindent 2 }}
{{- end }}
{{- end }}
